{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div class="example-wrapper">
   <p>Vous avez bien ajouté une nouvelle catégorie ;)</p>
</div>
{% endblock %}
