{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
<div class="container">
    <p>Nom du produit sélectionné : {{ produit.name}}</p>
    <p>Prix : {{ produit.price}}</p>
    <p>Slug : {{ produit.slug}}</p>
</div>
{% endblock %}