{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
<div class="container">
    <p>Nom du produit sélectionné : {{ product.name}}</p>
    <p>Prix : {{ product.price}}</p>
    <p>Slug : {{ product.slug}}</p>
</div>
{% endblock %}