{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>En stock, nous avons</h1>
    <div class="row" style="border:1px solid black">
      
           {% for item in products %}
           <div class="col" style="border:1px solid red">   
              <p>{{item.name}}   ({{item.price}}€) de la catégorie  {#{{item.category}}  #}</p>   
                <p>disponibles à cette URL là :  {{item.slug}}</p>
            </div>
           {% endfor %}
    
       

       
    </div>

</div>

{% endblock %}